<!DOCTYPE html>
<html>
  <head>
    <title>Message Board</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <% if (typeof session !== 'undefined' && session.username) { %>
    <p>Logged in as <strong><%= session.username %></strong></p>
    <form action="/logout" method="GET">
      <button type="submit">Sign Out</button>
    </form>
    <% } %>

    <h2>Register</h2>
    <form action="/register" method="POST">
      <input name="username" placeholder="Username" required /><br />
      <input name="password" type="password" placeholder="Password" required /><br />
      <button type="submit">Register</button>
    </form>

    <h2>Login</h2>
    <form action="/login" method="POST">
      <input name="username" placeholder="Username" required /><br />
      <input name="password" type="password" placeholder="Password" required /><br />
      <button type="submit">Login</button>
    </form>

    <h1>Message Board</h1>

    <form action="/message" method="POST">
      <input name="name" placeholder="Name" required /><br />
      <textarea name="message" placeholder="Message" required></textarea><br />
      <button type="submit">Post</button>
    </form>

    <h2>Messages</h2>
    <ul>
      <% messages.forEach(m => { %>
      <li><strong><%= m.name %></strong>: <%= m.message %></li>
      <!-- Escaped Ouput-->
      <% }); %>
    </ul>
    container.textContent = "Hash content: " + hash;
    <!-- Dom-Based XSS Fix, Prevents html/js from being executed-->
  </body>
</html>
